body{
    margin:0;
    font-family:Arial, sans-serif;
    text-align:center;
    background:linear-gradient(to right,#141E30,#243B55);
    color:white;
}

h1{margin-top:20px;}

#score{
    font-size:22px;
    margin:15px;
}

#question{
    font-size:30px;
    margin:30px;
}

button{
    padding:15px 35px;
    margin:10px;
    font-size:18px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.1);
}

.finite{background:green;color:white;}
.infinite{background:blue;color:white;}
.levelBtn{background:orange;color:black;}

#timerContainer{
    width:130px;
    height:130px;
    margin:20px auto;
}

#timerCircle{
    width:130px;
    height:130px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:28px;
    background:conic-gradient(#00ffcc 360deg,#444 0deg);
}

.hidden{display:none;}

#result{
    font-size:26px;
    margin-top:30px;
}
